@import "tailwindcss";

:root {
  --foreground: #ffffff;
  --background: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

form {
  input,
  textarea {
    @apply border border-gray-300 rounded px-3 py-2 focus:outline-none focus:ring-2 focus:ring-blue-500;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "JetBrains Mono", Helvetica, sans-serif;
}
.button {
  @apply flex py-3 px-5 rounded transition-all ease-in-out duration-200;
  &.button-default {
    @apply text-white font-bold bg-purple-800 hover:bg-purple-950;
  }
  &.button-submit {
    @apply text-white font-bold bg-linear-to-r from-purple-900 to-purple-800 rounded-2xl;
  }
}

form textarea:focus,
form textarea:focus-visible {
  outline: none !important;
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
  border-color: inherit !important;
}
