@import "tailwindcss";

:root {
  --foreground: #ffffff;
  --background: #171717;
  --footer-height: 4rem;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

form {
  input,
  textarea {
    @apply border border-gray-300 rounded px-3 py-2 focus:outline-none;
  }
}

.form-container {
  background-color: #171717;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-jetbrains-mono), "JetBrains Mono", Helvetica,
    sans-serif;
}
.button {
  @apply flex py-3 px-5 transition-all ease-in-out duration-200;
  &.button-default {
    @apply text-green-600 font-bold border border-green-600 bg-neutral-900 hover:bg-green-800 mx-auto;
  }
}

form textarea:focus,
form textarea:focus-visible {
  outline: none !important;
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
  border-color: inherit !important;
}
